@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

html {
	font-size: 20px;
}
body {
	padding: 0;
	margin: 0;
	margin-top: -2%;
	background: -moz-linear-gradient(left, rgba(255,76,76,1) 0%, rgba(61,13,255,1) 100%);
	transition: all 3s ease-in 10s;
}
.link {
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
}
.side {
	padding: 4%;
	font-family: 'Raleway', sans-serif;
}
.side-center {
	display: flex;
	width: 92%;
	justify-content: center;
	padding: 4%;
	margin-top: 4%;
}
.side-center h1 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.textblock {
	font-family: 'Raleway', sans-serif;
}
.textblock h2 {
	font-family: 'Do Hyeon', sans-serif;
}
.icon {
	display: flex;
	justify-content: center;
}



