@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

html {
	font-size: 20px;
}
body {
	padding: 0;
	margin: 0;
	margin-top: -2%;
	background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #8E54E9, #4776E6);
    background: -o-linear-gradient(left, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: all 3s ease-in 10s;
}
h1 {
	color: black;
}
.link {
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
}
.side {
	padding: 4%;
	font-family: 'Raleway', sans-serif;
}
.side-center {
	display: flex;
	width: 92%;
	justify-content: center;
	padding: 4%;
	margin-top: 4%;
}
.side-center h1 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.textblock {
	font-family: 'Raleway', sans-serif;
}
.textblock h2 {
	font-family: 'Do Hyeon', sans-serif;
}
.icon {
	display: flex;
	justify-content: center;
}
.content {
	width: 50%;
	display: flex;
	justify-content: center;
	padding: 10%;
}
.content h1 {
	color: black;
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	width: 30%;
	padding: 10%;
	text-align: center;
}
.heading {
	font-weight: 900;
	padding: 4% 12%;
	border-radius: 4%;
	width: 75%;
}
.heading:hover {
	background: #00000014;
}
@media screen and (max-width: 400px) {
	.row {
		display: flex;
		flex-direction: column;
	}
	.col {
		width: 80%;
		text-align: left;
	}
	.heading {
		font-size: 1rem;
	}
}


