doctype html
html
	head
		title Zellet
		link(rel="stylesheet" href="/stylesheets/help/index.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		script(src="/javascripts/help/index.js")
	body
		section.box
			div.box__item.item--primary
				h1 Guía
			div.box__item.item--success
				h1 Publicidad
			div.box__item.item--danger
				h1 Negocios
		footer.footer
			div.footer__logo
				h2 Zellet

