doctype html
html
	head
		title Fooda
		link(rel="stylesheet")(href="stylesheets/home/index.css")

	body
		div.header
			div.side
				a.link(href="#")
					span(style="color: #fff;") Acerca de Nosotros
			div.side
				a.link(href="#")
					span(style="color: #fff;") Iniciar
		div.side-center
			figure
				img(src="img.jpg")
		div.side-center
			h1 El Único Servicio de Búsqueda de Productos en Venezuela 
				br
				small Busca cualquier producto en un pestañeo
			
