doctype html
html
	head
		title Fooda
		link(rel="stylesheet")(href="stylesheets/home/index.css")
		link(rel="stylesheet")(href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css")
		script(src="javascripts/jquery/jquery-3.2.1.min.js")
		script(src="javascripts/home/parallax/index.js")

	body
		div.header
			div.side
				a.link(href="#")
					span(style="color: #fff;") Acerca de Nosotros
			div.side
				a.link(href="/login")
					span(style="color: #fff;") Iniciar
		div.side-center
			figure
				img(src="img.jpg")
		div.side-center(style="flex-direction: column;")
			h1(style="font-weight: 900;margin-bottom: 20%;") El Único Servicio de Búsqueda de Productos en Venezuela 
				br
				small Busca cualquier producto en un pestañeo
			div(style="display: flex; justify-content: center;")
				a.button.button-border.button-large(href="#")(style="color: #fff;width: 20%;") Regístrate
		section.side-center(style="background: #fff;")
			div(style="display: flex; flex-direction: row;")
				div.textblock(style="width: 30%;padding: 10%;text-align: center;")
					div.icon
						img.image(src="https://png.icons8.com/nolan/50/000000/organization.png")
					h2 Compra sin Largas Filas
					p Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum
				div.textblock(style="width: 30%;padding: 10%;text-align: center;")
					div.icon
						img.image(src="https://png.icons8.com/nolan/50/000000/search.png")
					h2 Busca y Encuentra 
					p Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum, Lorem ipsum dolorum
